@page "/conjugations/{verb}"
@model VerbConjugationsPage
@{
    ViewData["Title"] = $"Спряжение глагола {Model.Verb}";
}

@if (!string.IsNullOrWhiteSpace(Model.Verb))
{
    <h2>Спряжение для глагола "@Model.Verb"</h2>
}

<partial name="VerbForms" model="Model.AllVerbForms"/>

<partial name="VerbsImperativesTable" model="Model.AllConjugations.ImperativeConjugations"/>

<partial name="VerbsConjugationTable" model="Model.AllConjugations.PresentAndFutureConjugations"/>
<partial name="VerbsConjugationTable" model="Model.AllConjugations.PresentContinuousConjugations"/>
<partial name="VerbsConjugationTable" model="Model.AllConjugations.FutureGoingToConjugations"/>
<partial name="VerbsConjugationTable" model="Model.AllConjugations.FutureProbableConjugations"/>

<partial name="VerbsConjugationTable" model="Model.AllConjugations.PastDefiniteConjugations"/>
<partial name="VerbsConjugationTable" model="Model.AllConjugations.PastIndefiniteConjugations"/>
<partial name="VerbsConjugationTable" model="Model.AllConjugations.PastSuddenConjugations"/>
<partial name="VerbsConjugationTable" model="Model.AllConjugations.PastUsedToConjugations"/>

<partial name="VerbsConjugationTable" model="Model.AllConjugations.ConditionalConjugations"/>
<partial name="VerbsConjugationTable" model="Model.AllConjugations.IntentionConjugations"/>