@page "/conjugations/{verb}"
@model VerbConjugationsPage
@{
    ViewData["Title"] = $"Спряжение глагола {Model.Verb}";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h2>Спряжение для глаголов кыргызского языка</h2>
<p></p>

<form method="post">
    <label asp-for="Verb">Введите глагол:</label>
    <div class="input-group">
        <input type="text" class="form-control" asp-for="Verb" required/>
        <div class="input-group-prepend">
            <button type="button" id="addObutton" class="btn btn-secondary">Ө</button>
            <button type="button" id="addYbutton" class="btn btn-secondary">Ү</button>
            <button type="button" id="addNbutton" class="btn btn-secondary">Ң</button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Проспрягать</button>
</form>


<script>
    document.getElementById('addObutton').addEventListener('click', function () {
        appendCharacterToInput('ө');
    });

    document.getElementById('addYbutton').addEventListener('click', function () {
        appendCharacterToInput('ү');
    });

    document.getElementById('addNbutton').addEventListener('click', function () {
        appendCharacterToInput('ң');
    });

    function appendCharacterToInput(char) {
        const input = document.getElementById('Verb');
        input.value += char;
    }

</script>
@if (!string.IsNullOrWhiteSpace(Model.Verb) && Model.ModelState.IsValid)
{
    <h2>Спряжение для глагола "@Model.Verb"</h2>

    <p><i>
            Все формы генерируются алгоритмически.
            <br/>
            В данный момент семантической проверки нет, поэтому некоторые формы могут не иметь смысла
        </i>
    </p>


    <partial name="VerbForms" model="Model.AllVerbForms"/>
    <hr/>
    <partial name="VerbsOptativeMoodTable" model="Model.AllConjugations.OptativeMood"/>
    <partial name="VerbsImperativesTable" model="Model.AllConjugations.ImperativeConjugations"/>

    <partial name="VerbsConjugationTable" model="Model.AllConjugations.PresentAndFutureConjugations"/>
    <partial name="VerbsConjugationTable" model="Model.AllConjugations.PresentContinuousConjugations"/>
    <partial name="VerbsConjugationTable" model="Model.AllConjugations.FutureGoingToConjugations"/>
    <partial name="VerbsConjugationTable" model="Model.AllConjugations.FutureProbableConjugations"/>

    <partial name="VerbsConjugationTable" model="Model.AllConjugations.PastDefiniteConjugations"/>
    <partial name="VerbsConjugationTable" model="Model.AllConjugations.PastIndefiniteConjugations"/>
    <partial name="VerbsConjugationTable" model="Model.AllConjugations.PastSuddenConjugations"/>
    <partial name="VerbsConjugationTable" model="Model.AllConjugations.PastUsedToConjugations"/>

    <partial name="VerbsConjugationTable" model="Model.AllConjugations.ConditionalConjugations"/>
    <partial name="VerbsConjugationTable" model="Model.AllConjugations.IntentionConjugations"/>
}

