@page "/conjugations"
@model VerbConjugationsInputPage
@{
    ViewData["Title"] = "Verb Conjugator";
}

<h2>Спряжение для глаголов кыргызского языка</h2>
<p></p>

<form id="verbForm" onsubmit="redirectToConjugations(event)">
    <label for="InputVerb">Введите глагол:</label>
    <div class="input-group">
        <input type="text" id="InputVerb" class="form-control" name="InputVerb" required/>
        <div class="input-group-prepend">
            <button type="button" id="addObutton" class="btn btn-secondary">Ө</button>
            <button type="button" id="addYbutton" class="btn btn-secondary">Ү</button>
            <button type="button" id="addNbutton" class="btn btn-secondary">Ң</button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Проспрягать</button>
</form>

<script>
    function redirectToConjugations(event) {
        event.preventDefault();
        const inputVerb = document.getElementById('InputVerb').value;
        if (inputVerb) {
            const url = `/conjugations/${encodeURIComponent(inputVerb)}`;
            window.location.href = url;
        } else {
            alert("Пожалуйста введите глагол");
        }
    }

    document.getElementById('addObutton').addEventListener('click', function () {
        appendCharacterToInput('ө');
    });

    document.getElementById('addYbutton').addEventListener('click', function () {
        appendCharacterToInput('ү');
    });

    document.getElementById('addNbutton').addEventListener('click', function () {
        appendCharacterToInput('ң');
    });

    function appendCharacterToInput(char) {
        const input = document.getElementById('InputVerb');
        input.value += char;
    }
    
</script>
