@page "/conjugations/{verb}"
@model VerbConjugationsPage
@{
    ViewData["Title"] = "Verb Conjugator";
}

@if (!string.IsNullOrWhiteSpace(Model.Verb))
{
    <h1>Спряжение для глагола @Model.Verb</h1>
}

<partial name="VerbsImperativesTable" model="Model.ImperativeConjugations"/>

<partial name="VerbsConjugationTable" model="Model.PresentAndFutureConjugations"/>
<partial name="VerbsConjugationTable" model="Model.PresentContinuousConjugations"/>
<partial name="VerbsConjugationTable" model="Model.FutureGoingToConjugations"/>
<partial name="VerbsConjugationTable" model="Model.FutureProbableConjugations"/>

<partial name="VerbsConjugationTable" model="Model.PastDefiniteConjugations"/>
<partial name="VerbsConjugationTable" model="Model.PastIndefiniteConjugations"/>
<partial name="VerbsConjugationTable" model="Model.PastSuddenConjugations"/>
<partial name="VerbsConjugationTable" model="Model.PastUsedToConjugations"/>

<partial name="VerbsConjugationTable" model="Model.ConditionalConjugations"/>
<partial name="VerbsConjugationTable" model="Model.IntentionConjugations"/>