@page "/cases/{noun}"
@model NounCasesPage
@{
    ViewData["Title"] = $"Склонение слова {Model.Noun}";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h2>Склонение для слов кыргызского языка</h2>
<p></p>

<form method="post">
    <label asp-for="Noun">Введите существительное:</label>
    <div class="input-group">
        <input type="text" class="form-control" asp-for="Noun" required/>
        <div class="input-group-prepend">
            <button type="button" id="addObutton" class="btn btn-secondary">Ө</button>
            <button type="button" id="addYbutton" class="btn btn-secondary">Ү</button>
            <button type="button" id="addNbutton" class="btn btn-secondary">Ң</button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Просклонять</button>
</form>


<script>
    document.getElementById('addObutton').addEventListener('click', function () {
        appendCharacterToInput('ө');
    });

    document.getElementById('addYbutton').addEventListener('click', function () {
        appendCharacterToInput('ү');
    });

    document.getElementById('addNbutton').addEventListener('click', function () {
        appendCharacterToInput('ң');
    });

    function appendCharacterToInput(char) {
        const input = document.getElementById('Noun');
        input.value += char;
    }

</script>
@if (!string.IsNullOrWhiteSpace(Model.Noun) && Model.ModelState.IsValid)
{
    <h2>Склонение для слова "@Model.Noun"</h2>
    <p>
        <i>
            Все формы генерируются алгоритмически.
        </i>
    </p>
    
    <partial name="NounDeclensionsTable" model="Model.NounDeclinedInAllCasesTable"/>
    <partial name="NounDeclensionsWithPossessiveTable" model="Model.Singular"/>
    <partial name="NounDeclensionsWithPossessiveTable" model="Model.Plural"/>
}



