@page "/cases"
@model NounCasesInputPage
@{
    ViewData["Title"] = "Склонение слов";
    var errors = TempData["ErrorMessage"] as string[];
}

<h2>Склонение для слов кыргызского языка</h2>
<p></p>

<form id="wordForm" onsubmit="redirectToCases(event)">
    <label for="inputWord">Введите существительное:</label>
    <div class="input-group">
        <input type="text" id="inputWord" class="form-control" name="inputWord" required/>
        <div class="input-group-prepend">
            <button type="button" id="addObutton" class="btn btn-secondary">Ө</button>
            <button type="button" id="addYbutton" class="btn btn-secondary">Ү</button>
            <button type="button" id="addNbutton" class="btn btn-secondary">Ң</button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Просклонять</button>
</form>

@if (errors is not null && errors.Any())
{
    @foreach(var error in errors)
    {
        <div class="alert alert-danger small my-3">
            @error
        </div>
    }
}

<script>
    function redirectToCases(event) {
        event.preventDefault();
        const inputWord = document.getElementById('inputWord').value.trim();
        if (inputWord) {
            const url = `/cases/${encodeURIComponent(inputWord)}`;
            window.location.href = url;
        } else {
            alert("Пожалуйста введите существительное");
        }
    }

    document.getElementById('addObutton').addEventListener('click', function () {
        appendCharacterToInput('ө');
    });

    document.getElementById('addYbutton').addEventListener('click', function () {
        appendCharacterToInput('ү');
    });

    document.getElementById('addNbutton').addEventListener('click', function () {
        appendCharacterToInput('ң');
    });

    function appendCharacterToInput(char) {
        const input = document.getElementById('inputWord');
        input.value += char;
    }
    
</script>
