@model string

@if (!string.IsNullOrWhiteSpace(Model))
{
    <h4>Послелоги с Барыш</h4>

    <p>Чейин, дейре (до) - <b>@Model чейин</b></p>
    <p>Карай (по направоению, в сторону) - <b>@Model карай</b></p>
    <p>Караганда (по сравнению) - <b>@Model караганда</b></p>
    <p>Жараша (согласно, соответственно [чему-либо]) - <b>@Model жараша</b></p>
    <p>Карабастан (несмотря на) - <b>@Model карабастан</b></p>
}