@model string

@if (!string.IsNullOrWhiteSpace(Model))
{
    <h4>Послелоги с Илик</h4>

    <p>Алдында (перед, под) - <b>@Model алдында</b></p>
    <p>Артында (за, позади) - <b>@Model артында</b></p>
    <p>Үстүндө (на, над) - <b>@Model үстүндө</b></p>
    <p>Жанында (рядом, около, возле) - <b>@Model жанында</b></p>
    <p>Ортосунда (в середине, в центре) - <b>@Model ортосунда</b></p>
    <p>Тушунда (напротив) - <b>@Model тушунда</b></p>
    <p>Четинде (на краю) - <b>@Model четинде</b></p>
    <p>Арасында (среди) - <b>@Model арасында</b></p>
    <p>Сыртында (снаружи) - <b>@Model сыртында</b></p>
    <p>Башында (в начале) - <b>@Model башында</b></p>
    <p>Аягында (в конце) - <b>@Model аягында</b></p>
    <p>Оң жагында (справа) - <b>@Model оң жагында</b></p>
    <p>Сол жагында (слева) - <b>@Model сол жагында</b></p>
}