@model string

@if (!string.IsNullOrWhiteSpace(Model))
{
    <h4>Послелоги с Чыгыш</h4>

    <p>Кийин (после) - <b>@Model кийин</b></p>
    <p>Мурун/мурда (раньше) - <b>@Model мурун; @Model мурда</b></p>
    <p>Баштап, тартып (начиная с ...) - <b>@Model баштап; @Model тартып</b></p>
    <p>Башка (кроме) - <b>@Model башка</b></p>
    <p>Бери (с [какого-то момента], на протяжении)- <b>@Model бери</b></p>
}